/*通用样式哦*/
*{padding: 0;margin: 0;}
.lf{float: left;}
.rh{float: right;}
.cl{clear: both;}
.td{text-decoration: none;}
body{
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 24px;
}
.top{
	width: 100%;
	height: 24px;
	line-height: 24px;
	
	background-color: #303030;
}
.wp{
	width: 960px;
	margin: 0 auto;
}

.top span{
	margin-right: 15px;
}
.top a{
	color: #d8d8d8;
	padding: 0 5px;
	text-decoration: none;
	/*font-size: 12px;*/
}
.top a:hover{
	color:#c0c0c0;
}
/*输入框和logo*/
.logos{
	position: fixed;
}
.logo a{
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #424242;
	width: 244px;
	height:0;
	padding-top: 110px;
	line-height: 110px;
	/*border: 2px solid #000;*/
	display: inline-block;
	text-decoration: none;
	background-image: url(images/Nike1.jpg);
	background-size: 244px 110px ; 
	background-repeat: no-repeat;

}
/*搜索栏*/
.sousuo{
	width: 600px;
	height: 87px;
	position: relative;
	left: 300px;
	top: -100px;
}
.sousuo td{
	height: 87px;
	line-height: 87px;

}
table{
	display: block;
	
	
}
.sousuo input{
	border-radius: 100px;
	width: 610px;
	height: 40px;
	font-size: 15px;
	
}
.sousuo #s_c_txt,
#s_c_sub{
text-align: center;
	position: relative;
	left: 70px;
}
.sousuo #s_c_sub{
	display: block;
	background-color: #0000FF;
	color: #000;
	width: 100px;
	height: 44px;
}
/*导航*/
.nav{
	height: 34px;
	line-height: 34px;
	width: 100%;
	border-bottom: 2px solid #ff552e;
	background: repeat-x;
	margin-top: 110px;

}
.nav li{
	list-style: none;/*去掉li前面的点*/
	line-height: 34px;

}
.nav li a{
	text-decoration: none;
	color: #ff552e;
	font-size: 16px;
	float: left;/*浮动让子行的排序*/
	padding: 0 28px;
	font-weight: bold;

}
.nav li a:hover{
	background-color: #ff552e;
	color: #fff;
	border-radius: 10%;
}

/*center*/
.center{
	width: 100%;
	height: 100%;

}
.center .ig{
	margin-bottom: 10px;
}
.center .ig img{
	display: block;
	width: 847px;
	height: 374px;
	margin: 0 auto;
}
.tit{
	padding-bottom: 10px;
	border-bottom: 3px solid #ff552e;
	position: relative;
	margin-bottom: 10px;
}
.tit span{
	position: absolute;
	right: 0;
	bottom: 0;
}
.tit a{
	color: #ff552e;
}

.jianjie{
	width: 540px;
	height: 360px;
	margin-right: 20px;
	/*border: 1px solid #000;*/
}
.jianjie img{
	width: 190px;
	height: 66px;
	/*去掉下划线*/
	vertical-align: -16px;
}
.xinwen{
	width: 380px;
	height: 300px;
	border: 1px solid #000;


}
.xinwen img{
	width: 190px;
	height:66px;
	vertical-align: -16px;
	
}
.jj_c img{
	float: left;
	margin: 0 10px 0 0;
}
.jj_c p{
	font-size: 13px;
	overflow: hidden;
	color: rgb(140, 140, 140);
	text-indent: 24px;
}

.chanpin{
	position: relative;
	overflow: hidden;
}

