/*通用样式哦*/
*{padding: 0;margin: 0;}
.lf{float: left;}
.rh{float: right;}
.cl{clear: both;}
.td{text-decoration: none;}
body{
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 24px;
	
}
.top{
	width: 100%;
	height: 24px;
	line-height: 24px;
	
	background-color: #303030;
}
.wp{

	width: 960px;
	margin: 0 auto;
}

.top span{
	margin-right: 15px;
}
.top a{
	color: #d8d8d8;
	padding: 0 5px;
	text-decoration: none;
	/*font-size: 12px;*/
}
.top a:hover{
	color:#c0c0c0;
}
/*输入框和logo*/
.logos{
	position: fixed;
}
.logo a{
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #424242;
	width: 244px;
	height:0;
	padding-top: 110px;
	line-height: 110px;
	/*border: 2px solid #000;*/
	display: inline-block;
	text-decoration: none;
	background-image: url(images/Nike1.jpg);
	background-size: 244px 110px ; 
	background-repeat: no-repeat;

}
/*搜索栏*/
.sousuo{
	width: 600px;
	height: 87px;
	position: relative;
	left: 300px;
	top: -100px;
}
.sousuo td{
	height: 87px;
	line-height: 87px;

}
table{
	display: block;
	
	
}
.sousuo input{
	border-radius: 100px;
	width: 610px;
	height: 40px;
	font-size: 15px;
	
}
.sousuo #s_c_txt,
#s_c_sub{
text-align: center;
	position: relative;
	left: 100px;
}

.sousuo #s_c_sub{
	display: block;
	background-color: #0000FF;
	color: #000;
	width: 100px;
	height: 44px;
}
/*导航*/
.nav{
	height: 34px;
	line-height: 34px;
	width: 100%;
	border-bottom: 2px solid #ff552e;
	background: repeat-x;
	margin-top: 110px;

}
.nav li{
	list-style: none;/*去掉li前面的点*/
	line-height: 34px;

}
.nav li a{
	text-decoration: none;
	color: #ff552e;
	font-size: 16px;
	float: left;/*浮动让子行的排序*/
	padding: 0 28px;
	font-weight: bold;

}
.nav li a:hover{

	background-color: #ff552e;
	color: #fff;
	border-radius: 10%;
}

/*center*/
.center{
	width: 100%;
	height: 100%;

}
.center .ig{

	margin: 3px 0 10px 0;
}
.center .ig img{
	display: block;
	width: 100%;
	height: 374px;
	margin: 0 auto;
}
.tit{
	padding-bottom: 10px;
	border-bottom: 3px solid #ff552e;
	position: relative;
	margin-bottom: 10px;
}
.tit span{
	position: absolute;
	right: 0;
	bottom: 0;
}
.tit a{
	color: #ff552e;
}

.jianjie{
	width: 540px;
	height: 360px;
	margin-right: 20px;
	/*border: 1px solid #000;*/
}
.jianjie img{
	width: 190px;
	height: 66px;
	/*去掉下划线*/
	vertical-align: -16px;
}
.xinwen{
	width: 380px;
	height: 360px;
	/*border: 1px solid #000;*/


}
.xinwen img{
	width: 190px;
	height:66px;
	vertical-align: -16px;
	
}
.jj_c img{
	float: left;
	margin: 0 10px 0 0;
}
.jj_c p{
	font-size: 13px;
	overflow: hidden;
	color: rgb(140, 140, 140);
	text-indent: 24px;
}

.xinwen_c img{
	margin: 0 0 10px 0;
	
}
.xinwen_c li{
	list-style: none;
	height: 24px;
	line-height: 24px;
	position: relative;
	margin-bottom: -1px;
}
.xinwen_c a{
	color: rgb(140, 140, 140);
	font-size: 13px;
	text-decoration: none;
	height: 76px;
}
.xinwen_c h3{
	font-weight: normal;
	font-size: 14px;
}
.xinwen_c h3:hover{
	color: #ff552e;
}
.xinwen_c span{
	position: absolute;
	right: 0;
	bottom: 0;
	color: rgb(140, 140, 140);
	font-size: 12px;
}

.chanpin{
	width: 100%; 
	height: 360px;
}
.chanpin  img{
	width: 182px;
	height: 100px;
}
.chanpin_c li{
	width: 182px;
	height: 180px;
	position: relative;
	list-style: none;
	margin: 0 10px 10px 0;
	float: left;
	overflow: hidden;
	/*border: 1px solid #000;*/
	background-color: #f4f4f4;
}
.chanpin_c li img{
	float: left;
}
.chanpin_c h3{
	position: absolute;
	width: 131px;
	left: 0;
	bottom: 0;
	font-size: 14px;
	min-height: 20px;
	max-height: 40px;
	line-height: 20px;	
	padding: 0 10px;
	margin-left: 10px;
	margin-bottom: 50px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.chanpin_c p{
	color: #666666;
	position: absolute;
	width: 131px;
	left: 0;
	bottom: 0;
	font-size: 13px;
	min-height: 20px;
	max-height: 40px;
	line-height: 20px;	
	padding: 0 10px;
	margin-left: 10px;
	margin-bottom: 28px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.chanpin_c span{
	font-weight: bold;
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 20px;

}
.chanpin_c span del{
	margin-left: 5px;
	font-size: 12px;
	color: #aaaaaa;
}
.chanpin_c li .cp_0{
	margin-right: 0;
}
/*底部*/
.footer{
	margin-top: 30px;
	background-color: #aaaaaa;
	width: 100%;
	height: 358px;

}
.footer_links{
	/*border: 1px solid #000;*/
	width: 1120px;
	display: table;
	margin: 0 auto;
	padding: 20px 0 0 0;
}
.footer_links::before{
	content: "";
	display: table;
	clear: both;
}

.f_link1{
	height: 300px;
	width: 40%;
	/*border: 1px solid #000; */
}
.f_link1 dt{
	font-size: 14px;
	height: 45px;
	line-height: 45px;
	color: #737373;
	font-weight: bold;
}
.f_link1 li{
	float: left;
	font-size: 14px;
	list-style: none;
	padding-bottom: 16px;
	line-height: 24px;
}
.f_link1 li a{
	font-size: 13px;
	color: #737373;
	text-decoration: none;
	margin-right: 10px;
}
.f_link1 li a:hover{
	color: #5ecfba;
}

.webmap{
	position: relative;
	right: 400px;
	width: 145px;
	height: 204px;
	/*border: 1px solid #000; */
}
.webmap dt{
	font-size: 14px;
	color: #737373;
	line-height: 45px;
	font-weight: bold;
}
.webmap li{
	float: left;
	list-style: none;
	line-height: 25px;

}
.webmap li a{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	margin: 0 15px 10px 0;
	text-decoration: none;
	color: #737373;
}
.webmap li a:hover{
	color: #5ecfba;
}
.follow{
	position: absolute;
	right: 0;
	float: right;
	width: 315px;
	height: 166px;
	/*border: 1px solid #000; */
	margin-top: 20px;

}

.follow li{

	list-style:none;
	float: right;
	text-align: center;
	margin-right: 40px;
}
.follow a{
	text-decoration: none;
}
.follow img{
	width: 110px;
	height: 110px;
}
.follow li p{
	font-weight: bold;
	font-size: 12px;
	color: #737373;
}
.follow li p:hover{
	color: #5ecfba;
}
/*版权*/
.copyright{
	margin: 0 auto;
	background-color: #aaaaaa;
	border-top: 1px solid #d5d5d5;
	height: 78px;
}
.copyright-box{
	width: 100%;
	height: 41px;
	margin: 0 auto;
	position: relative;
	top: 20px ;
	/*border: 1px solid #000;*/
}
.copyright-box p{
	font-weight: bold;
	line-height: 41px;
	color: #737373;
	font-size: 34px;
	float: left;
	width: 240px;
	height: 41px;
}
.ct_right{
	color: #737373;
	line-height:20px;
	position: absolute;
	top: 0;
	right: 200px;
}